[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = FelipeChalkho
	email = 44200212+FelipeChalkho@users.noreply.github.com
